* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

header {
    background-color:greenyellow;
    width: 100%;
    padding: 20px;
    text-align: center;
    order: 1;
}

nav {
    background-color:lightsteelblue;
    width: 20%;
    padding: 20px;
    order: 2;
    height: 80%;
}

article {
    background-color: lightgoldenrodyellow;
    flex: 1;
    padding: 20px;
    align-content: center;
    padding-left: 27%;
    order: 3;
}

aside {
    background-color: lightblue;
    width: 20%;
    padding: 20px;
    height: 80%;
    order: 4;
}

footer {
    background-color:greenyellow;
    width: 100%;
    padding: 20px;
    text-align: center;
    order: 5;
}

@media (max-width: 768px) {
    nav, aside {
        width: 100%;
        min-height: auto;
    }
    
    .container {
        flex-direction: column;
    }
}